<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="imu">
  <xacro:macro name="imu" params="*origin parent:=base_link name:=imu_link topic:=/imu hz:=100">

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${name}"/>
    </joint>

    <link name="${name}">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
      </inertial>
    </link>

    <gazebo reference="${name}">
      <sensor name="${name}_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>${hz}</update_rate>
        <visualize>false</visualize>
        <plugin name="${name}_plugin" filename="libgazebo_ros_imu_sensor.so">
          <ros>
            <remapping>~/out:=${topic}</remapping>
          </ros>
          <frame_name>${name}</frame_name>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
